body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(245, 167, 72);
}

.container {
    margin: 20px;
    background-color:rgb(96, 205, 205);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(169, 51, 51, 0.2);
}

h1 {
    font-family:cursive;
    font-size: 36px;
    margin-bottom: 20px;
    color: #000000;
}

#challenge-container {
    margin-bottom: 20px;
    background-color:#F4C430;

}

#challenge-text {
    font-size: 28px;
    font-weight: bold;
    color: rgb(30, 21, 8);
}
#current-player{
    font-family:monospace;;
    font-size: 29px;
    color: rgb(3, 73, 135);
}

#options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.option {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.option:hover {
    background-color: #007BFF;
    color: #383131;
}

#timer {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#result {
    font-size: 24px;
    font-weight: bold;
    color: #ff00fb;
}

#score-panel {
    text-align: left;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
}

#score, #highest-score, #lifeline {
    font-size: 18px;
    margin: 5px 0;
}
